/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Дублируем переменные тёмной темы для принудительного переключения */
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --card-title-color: #000028;
  --decor-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  
  /* Фон для тёмной темы */
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Дополнительные стили для тёмной темы, если нужно */
}

.theme-dark .header__rec {
  display: block;
}