/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные для светлой темы */
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --card-title-color: #353430;
  --decor-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  
  /* Фон для светлой темы */
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Дополнительные стили для светлой темы, если нужно */
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Переменные для светлой темы при авто-режиме */
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --card-title-color: #353430;
    --decor-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    
    --bg-image: url(../images/cover-image-light.png);
  }
  
  .header__rec {
    display: none;
  }
}